<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">My Tasks</div>

                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="task.name"
                            @keydown.enter="create">
                            <span class="input-group-btn">
                                <button class="btn btn-success" @click="create">Add</button>
                            </span>
                        </div>

                        <div class="tasks-list">
                            <div class="alert alert-danger" v-if="!tasks.length">
                                No Task
                            </div>
                            <ul class="list-unstyled">
                                <li v-for="task in tasks" :key="task.id" :class="{ done: task.completed }">
                                    <div class="checkbox">
                                        <label><input type="checkbox" v-model="task.completed" @click="complete(task)"> {{ task.name}}</label>

                                        <div class="pull-right">
                                            <a class="btn btn-danger delete-btn" href="#" @click.prevent="remove(task)">Delete</a>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="label label-default">Total : {{tasks.length}} Task(s)</span>
                        <span class="label label-warning">{{ remainingTasks() }} Remaininng Task(s)</span>
                        <span class="label label-success">{{ completedTasks() }} Task(s)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  mounted() {
    this.fetchData();
  },
  data() {
    return {
      tasks: [],
      task: {
        name: ""
      }
    };
  },
  methods: {
    fetchData() {
      axios("/api/tasks")
        .then(res => {
          this.tasks = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    create() {
      axios
        .post("/api/tasks", this.task)
        .then(res => {
          this.tasks.unshift(res.data);
          this.task.name = "";
        })
        .catch(err => {
          console.log(err);
        });
    },
    complete(task) {
      axios
        .put("/api/tasks/" + task.id, {
          completed: !task.completed
        })
        .then(res => {
          console.log("Task Update");
        })
        .catch(err => {
          console.log(err);
        });
    },
    remove(task) {
      axios
        .delete("/api/tasks/" + task.id)
        .then(res => {
          const taskIndex = this.tasks.indexOf(task);
          this.tasks.splice(taskIndex, 1);
        })
        .catch(err => {
          console.log(err);
        });
    },
    remainingTasks() {
      return this.tasks.filter(task => {
        return !task.completed;
      }).length;
    },
    completedTasks() {
      return this.tasks.filter(task => {
        return task.completed;
      }).length;
    }
  }
};
</script>
<style>
body,
.tasks-list {
  padding-top: 26px;
}
.tasks-list {
  font-size: 16px;
}
.done label {
  text-decoration: line-through;
}
.checkbox {
  display: inline-flex;
  width: 100%;
  background-color: #eee;
  padding: 15px 15px 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
label {
  width: 95%;
}
.pull-right {
  float: right;
}
.delete-btn {
  margin-top: -7px;
}
.label {
  padding: 5px 10px;
  background-color: darkgrey;
  border-radius: 5px;
}
span.label {
  font-size: 12px;
}
.label.label-warning {
  background-color: orange;
}
.label.label-success {
  background-color: olivedrab;
  color: white;
}
</style>

